/* Assets 
#5c1b1b; 
*/

/* All */

*{
margin:0;
padding:0;
box-sizing:border-box;
}


html{
background-color:#FFF;
}

/* ---------------- */
/* REUSABLE */
/* ------------------ */

.container{
max-width:80%;
margin:0 auto;
}


/* ---------------- */
/* HEADER */
/* ------------------ */


/* ---------------- */
/* HEADING */
/* ------------------ */

/* ---------------- */
/* mainPage */
/* ------------------ */

#img{
    
}
/* ---------------- */
/* FOOTER */
/* ------------------ */


/* ---------------- */
/* BUTTON */
/* ------------------ */




/* ------------------ */


