/* Assets 
#5c1b1b; 
*/

/* All */

*{
margin:0;
padding:0;
box-sizing:border-box;
}


html{
background-color:#FFF;
}

/* ---------------- */
/* REUSABLE */
/* ------------------ */

.container{
max-width:60%;
margin:0 auto;
}

.span-2-of-2 {
	width: 100%;
}

.span-1-of-2 {
	width: 49.2%;
}


/* ---------------- */
/* HEADER */
/* ------------------ */


/* ---------------- */
/* HEADING */
/* ------------------ */

/* ---------------- */
/* mainPage */
/* ------------------ */

#img{
    margin-top:25vh;
}
/* ---------------- */
/* FOOTER */
/* ------------------ */

.footerLinks li a:visited{
    text-decoration:none;
    border:0;
    color:#888;
    transition: color 0.2s;
}

.footerNavLeft{
    list-style:none;
    float:left;
}

.footerNavRight{
    list-style:none;
    float:right;
}


/* ---------------- */
/* BUTTON */
/* ------------------ */




/* ------------------ */


