.image {
	padding: 500px;
}

.img {
	margin-left: 500px;
}

/*Header*/

#header {
	display: flex;
	justify-content: flex-end;
	padding: 10px 10px;
}

.shortcut {
	color: black;
}

a.signin {
	background-color: #4386f8;
	border: none;
	border-radius: 3px;
	color: white;
	padding: 5px 13px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
}

/*-----*/

/*Main */




/* */


.footerCountry{
	display:inline;
	color:#666666;
	font-size:14px;
	padding:13px;
	width:100%;
	background-color:red;
}

footer{
	background: #f2f2f2;
	border-top: solid 2px #e4e4e4;
	bottom:0;
	padding-bottom:0;
	width:100%;
	font-family: arial,sans-serif;
  }
  
  footer ul li{
	display:inline;
	color:#666666;
	font-size:14px;
	padding:13px;
  }
  
  footer ul{
	float:left;
	padding:1px;
  }
  
 footer ul a {
	text-decoration:none;
	color:#666;
 }

  footer ul a:hover{
	text-decoration:underline;
  }
  
  .footerRight{
	float:right;
  }

  .footerLeft{
	float:left;
  }